.navbar{
    padding: 1.5%;
    background-color: #f7eded2e;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-buttons{
    display: flex;
    justify-content: space-evenly;
    width:70%;
}

.details-btn{
    /* background-color: black; */
    width: 10%;
}

.nav-link{
 text-decoration: none;
     font-size: 1.2rem;
    font-weight: bold;
    color: black;
}