.start-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  padding: 0 5%;
  /* color: #0d0505; */
  font-size: 1.2rem;
  background-color: #2d0606;
  color: rgba(255, 255, 255, 0.74);
}
.start-left{
    width: 45%;
    margin: 0 6%;
    text-align: center;
    /* color: white; */
}

.start-left h1{
    margin-bottom: 5%;
    font-size: 2.6rem;
}

.start-left p{
    margin-bottom: 3%;
 } 

.start-right{
    width: 65%;
    margin: 0 7%;
    text-align: justify;
    font-size: 1.4rem;
}

.start-right p{
    margin-bottom: 4%;
}

